body {
	font-family: Raleway, sans-serif;
}

span.highlight {
	color: #F15A24;
	font-size: 28px;
	font-family: Raleway;
	font-weight: 600;
}


span {
	color: #fff;
	font-size: 28px;
	font-family: Raleway;
	font-weight: 600;
}

#nav {
  background-color: #4D4D4D;
  height: 60px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 20px;
}

#login-form > div:nth-child(1) > h1 {
	text-transform: uppercase;
    color: white;
    font-weight: 400;
    padding-bottom: 15px;
    margin-top: 10px;
}

#login-form {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    padding-top: 25px;
}

#sign-up {
	padding-left: 15px;
}

#login-form > button {
	color: #FFFDFD;
    background-color: #C43812;
    border: none;
}
