* {
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

html, body{
	height:100%;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
  color: #33383D;
  -webkit-font-smoothing: antialiased;
}

/*[data-hidden="hidden"] {
   visibility: hidden;
}*/

#add-sticky {
  margin-top: 25px;
}

#page-wrapper {
  width: 960px;
  background: #FFF;
  padding: 1.25rem;
  margin: 1rem auto;
  min-height: 300px;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#user-info {
    background-color: #4D4D4D;
    height: 60px;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
}

#logout {
    background-color: #4D4D4D;
    height: 60px;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
}

#nav > span:nth-child(2){
	margin-left: -4px;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
}

p {
  font-size: 0.9rem;
  margin: 0.5rem 0 1.5rem 0;
}

a,
a:visited {
  color: #08C;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #69c773;
  cursor: pointer;
}

a.delete-file,
a.delete-file:visited {
  color: #CC0000;
  margin-left: 0.5rem;
}

#file-form {
  width: 650px;
  float: left;
}

.field {
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 300px;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

#files {
  width: 230px;
  float: right;
}

#files ul {
  margin: 0;
  padding: 0.5rem 1rem;
  height: 330px;
  overflow-y: auto;
  list-style: none;
  background: #F7F7F7;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

#files li {
  padding: 0.5rem 0;
}

#messages {
  display: inline-block;
  font-weight: bold;
  color: #69c773;
  margin-left: 1rem;
}

/* Clearfix Utils */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


span.highlight {
	color: #F15A24;
	font-size: 28px;
	font-family: Raleway;
	font-weight: 600;
}


span {
	color: #fff;
	font-size: 28px;
	font-family: Raleway;
	font-weight: 600;
}

#nav {
	background-color: #4D4D4D;
  height: 60px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 20px;
}

h1 {
	color: #fff;
	font-family: Raleway;
}

#main {
	background-color: #F2F2F2;
	float: left;
}

#main-2 {
	background-color: #fff;
	float: left;
}

#main-2 > div {
	margin-top: 25px;
}

#sidebar{
	background-color: #E6E6E6;
	float: left;
	height: 100vh;
}

#projects > li {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 16px;
  cursor: pointer; 
}

#sticky-area li {
  list-style: none;
}


.note {
  background-color: yellow;
}

#sticky-form > input[type="text"]{
    background-color: yellow;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.glyphicon .glyphicon-pencil {
  font-size: 12px;
}

#sticky-form > textarea {
    background-color: yellow;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

#title {
  height: 50%;
}

.container .row {
	height: 100%;
}

.fill {
	height: 100%;
}

.bth:hover {
	border: none;
}

.btn-success:hover {
  border: none;
}

input.btn.btn-success {
	background-color: #E6E6E6;
	margin-top: 30px;
}

#search-input-group > div > input {
	margin-top: 0;
}

#search-input-group {
	margin-top: 30px;
}

#sidebar > input {
	font-family: Raleway;
	font-size: 20px;
	text-transform: uppercase;
	color: #666666;
	font-weight: 600;
}

div#sidebar {
  overflow-y: auto;
}


#proj-status > ul {
	color: green;
	font-size: 28px;
	vertical-align: center;
}	
#proj-status > ul > li:nth-child(1){
	margin-top: 15px;
}

#proj-status > ul > li {
	margin-top: 15px;
}

#proj-status > ul > li > span
{
  font-size: 16px;
  list-style-position: initial;
  font-weight: normal;
  color: #666666;
  text-transform: uppercase;
}

.btn-success {
	border-color: #E6E6E6;
}

#project p {
	color: gray;
	margin-top: 30px;
	font-family: Raleway;
}

.form-control {
	margin-top: 15px;
}

#add-task {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Text Editor Styling */
$bg : #eee;

* {box-sizing: border-box;}
.btn, textarea, [contenteditable="true"]{
  outline:none;
}
body {
  background: $bg;
}
.rich-text-module {
  margin:.5em 1em;
  border:1px solid darken($bg, 10);
  border-radius: 3px;
  padding: .2em;
}
.ta-editor {
  max-height: 280px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.btn-group {
  display: flex;
  border:1px solid darken($bg, 5);
  border-radius:3px;
  background: #eee;
  margin:.2em 0;
  .btn {
    flex: 1;
    background: lighten($bg, 5);
    color: lighten(#000000, 60);
    border:0;
    border-right: 1px solid darken($bg, 5);
    font-size: 14px;
    transition: all .5s ease;
    &:hover { color: #000; }
    &:last-child { border:0; }
  }
}
.ta-html, .ta-text {
  background: #fff;
  padding: .5em;
  margin: 0;
  border:1px solid darken($bg, 10);
}
.ta-text {
  font-family: monospace;
  background: #ccc;
  color: #666;
  text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}
.result {
  background: darken($bg, 5);
  color: #333;
  font-family: monospace;
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  border:1px solid darken($bg, 10);
  padding: .5em;
  text-shadow: 1px 1px 0 rgba(255,255,255,.2);
  margin-top:.5em;
}

#filename{
	margin-top: 25px;
}

#content {
	min-height: 200px;
}

#file-form{
	margin-left: 4px;
}

/*Sticky Styling Begin*/

#sticky1 > p {
	background-color: #D9E021;
	min-height: 200px;
	box-shadow: 2px 2px #A9AF1F;
}

#sticky2 > p {
	background-color: #8CC63F;
	min-height: 200px;
  	box-shadow: 2px 2px #618B2A
}

#sticky3 > p {
	background-color: #E5C22E;
	min-height: 200px;
	box-shadow: 2px 2px #A88F22;
}

body > div > div.row.center {
	margin-top: 15%;
}
